In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [9]:
print(school_data.info())
print('\n')
print(student_data.info())
print('\n')
print(school_data_complete.info())
school_data_complete.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID      15 non-null int64
school_name    15 non-null object
type           15 non-null object
size           15 non-null int64
budget         15 non-null int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
Student ID       39170 non-null int64
student_name     39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school_name      39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
dtypes: int64(3), object(4)
memory usage: 2.1+ MB
None


<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
Student ID       39170 non-null int64
student_name     39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school_name      39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
School ID        39170 non-null int64
type             39170 non-null object
size             39170 non-null int64
budget           39170 non-null int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB
None

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:
school_data_complete.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            39160, 39161, 39162, 39163, 39164, 39165, 39166, 39167, 39168,
            39169],
           dtype='int64', length=39170)

In [70]:
district_summary = pd.DataFrame({
    'Total Schools': [school_data_complete['school_name'].nunique()],
    'Total Students': [school_data_complete['student_name'].count()],
    'Total Budget': [school_data_complete['budget'].unique().sum()],
    'Average Math Score': [school_data_complete['math_score'].mean()],
    'Average Reading Score': [school_data_complete['reading_score'].mean()],
    '% Passing Math': [school_data_complete.loc[school_data_complete['math_score'] > 69]['math_score'].count() / school_data_complete.shape[0] * 100],
    '% Passing Reading': [school_data_complete.loc[school_data_complete['reading_score'] > 69]['reading_score'].count() / school_data_complete.shape[0] * 100],
    '% Overall Passing Rate': [school_data_complete.loc[(school_data_complete['math_score'] + school_data_complete['reading_score']) / 2 > 69].shape[0] / school_data_complete.shape[0] * 100]
})

district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:.3f}'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:.3f}'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.3f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.3f}%'.format)
district_summary['% Overall Passing Rate'] = district_summary['% Overall Passing Rate'].map('{:.3f}%'.format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985,81.878,74.981%,85.805%,90.444%

In [50]:
school_data_complete.shape[0]

39170