# Clean up of Web_Index-Data_2014.xlsx

In [1]:
import pandas as pd
import numpy as np

In [16]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [3]:
import getpass

In [4]:
xls = pd.ExcelFile('data/Web_Index-Data_2014.xlsx')

wb_a = pd.read_excel(xls, 'WB A')
pch_a = pd.read_excel(xls, 'PCH A')
itu_s = pd.read_excel(xls, 'ITU S')
un_b = pd.read_excel(xls, 'UN B')
wb_d = pd.read_excel(xls, 'WB D')
wb_c = pd.read_excel(xls, 'WB C')
wb_h = pd.read_excel(xls, 'WB H')
rsf_a = pd.read_excel(xls, 'RSF A')
fh_c = pd.read_excel(xls, 'FH C')
fh_a = pd.read_excel(xls, 'FH A')
fh_b = pd.read_excel(xls, 'FH B')
un_c = pd.read_excel(xls, 'UN C')
itu_n = pd.read_excel(xls, 'ITU N (world bank)')
un_d = pd.read_excel(xls, 'UN D')
raw = pd.read_excel(xls, 'Survey Scores Primary Raw Data')

In [5]:
print(wb_a.info(), end='\n\n---------------------\n\n')
print(pch_a.info(), end='\n\n---------------------\n\n')
print(itu_s.info(), end='\n\n---------------------\n\n')
print(un_b.info(), end='\n\n---------------------\n\n')
print(wb_d.info(), end='\n\n---------------------\n\n')
print(wb_c.info(), end='\n\n---------------------\n\n')
print(wb_h.info(), end='\n\n---------------------\n\n')
print(rsf_a.info(), end='\n\n---------------------\n\n')
print(fh_c.info(), end='\n\n---------------------\n\n')
print(fh_a.info(), end='\n\n---------------------\n\n')
print(fh_b.info(), end='\n\n---------------------\n\n')
print(un_c.info(), end='\n\n---------------------\n\n')
print(itu_n.info(), end='\n\n---------------------\n\n')
print(un_d.info(), end='\n\n---------------------\n\n')
print(raw.info(), end='\n\n---------------------\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secure Internet Servers per million population    89 non-null object
2007                                              89 non-null float64
2008                                              89 non-null float64
2009                                              89 non-null float64
2010                                              89 non-null float64
2011                                              89 non-null float64
2012                                              89 non-null float64
2013                                              89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
 IXPs (if have IXPs=1; if not=0)    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Mobile broadband monthly subscription per GDPC    89 non-null object
2007                                              89 non-null object
2008                                              89 non-null object
2009                                              89 non-null object
2010                                              89 non-null object
2011                                              89 non-null object
2012                                              89 non-null object
2013                                              89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Literacy rates    89 non-null object
2007              65 non-null float64
2008              65 non-null float64
2009              65 non-null float64
2010              65 non-null float64
2011              65 non-null float64
2012              65 non-null float64
2013              65 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Secondary enrolment rates (gross)    89 non-null object
2007                                 79 non-null float64
2008                                 80 non-null float64
2009                                 80 non-null float64
2010                                 80 non-null float64
2011                                 80 non-null float64
2012                                 80 non-null float64
2013                                 80 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
tertiary enrolment rates (gross) female/male    89 non-null object
2007                                            78 non-null float64
2008                                            78 non-null float64
2009                                            78 non-null float64
2010                                            78 non-null float64
2011                                            78 non-null float64
2012                                            78 non-null float64
2013                                            78 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
WB H school life expectancy female/male    89 non-null object
2007                                       89 non-null object
2008                                       89 non-null object
2009                                       89 non-null object
2010                                       89 non-null object
2011                                       89 non-null object
2012                                       89 non-null object
2013                                       89 non-null object
dtypes: object(8)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Press Freedom Index    89 non-null object
2007                   89 non-null float64
2008                   89 non-null float64
2009                   89 non-null float64
2010                   89 non-null float64
2011                   89 non-null float64
2012                   89 non-null float64
2013                   89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Freedom of the press    89 non-null object
2007                                    89 non-null float64
2008                                    89 non-null float64
2009                                    89 non-null float64
2010                                    89 non-null float64
2011                                    89 non-null float64
2012                                    89 non-null float64
2013                                    89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Political Rights    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Freedom House - Civil Rights    89 non-null object
2007                            89 non-null float64
2008                            89 non-null float64
2009                            89 non-null float64
2010                            89 non-null float64
2011                            89 non-null float64
2012                            89 non-null float64
2013                            89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Government online services index    89 non-null object
2007                                89 non-null float64
2008                                89 non-null float64
2009                                89 non-null float64
2010                                89 non-null float64
2011                                89 non-null float64
2012                                89 non-null float64
2013                                89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
Internet users per 100    89 non-null object
2007                      89 non-null float64
2008                      89 non-null float64
2009                      89 non-null float64
2010                      89 non-null float64
2011                      89 non-null float64
2012                      89 non-null float64
2013                      89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 8 columns):
E-participation index    89 non-null object
2007                     89 non-null float64
2008                     89 non-null float64
2009                     89 non-null float64
2010                     89 non-null float64
2011                     89 non-null float64
2012                     89 non-null float64
2013                     89 non-null float64
dtypes: float64(7), object(1)
memory usage: 5.9+ KB
None

---------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 31 columns):
Country        86 non-null object
WI.2014.S1     87 non-null object
WI.2014.S2     87 non-null object
WI.2014.S3     87 non-null object
WI.2014.S4     87 non-null object
WI.2014.S5     87 non-null object
WI.2014.S6     87 non-null object
WI.2014.S7     87 non-null object
WI.2014.S8     87 non-null object
WI.2014.S9     87 non-null object
WI.2014.S10    87 non-null object
WI.2014.S11    87 non-null object
WI.2014.S12    87 non-null object
WI.2014.S13    87 non-null object
WI.2014.P2     87 non-null object
WI.2014.P3     87 non-null object
WI.2014.P4     87 non-null object
WI.2014.P5     87 non-null object
WI.2014.P6     87 non-null object
WI.2014.P7     87 non-null object
WI.2014.P8     87 non-null object
WI.2014.P9     87 non-null object
WI.2014.P10    87 non-null object
ODB.2013.C1    87 non-null object
ODB.2013.I1    87 non-null object
ODB.2013.I2    87 non-null object
ODB.2013.I3    87 non-null object
ODB.2013.I4    87 non-null object
ODB.2013.I5    87 non-null object
ODB.2013.I6    87 non-null object
AI.2014.A13    87 non-null object
dtypes: object(31)
memory usage: 21.2+ KB
None

---------------------

In [6]:
print(wb_a.head(), end='\n\n---------------------\n\n')
print(pch_a.head(), end='\n\n---------------------\n\n')
print(itu_s.head(), end='\n\n---------------------\n\n')
print(un_b.head(), end='\n\n---------------------\n\n')
print(wb_d.head(), end='\n\n---------------------\n\n')
print(wb_c.head(), end='\n\n---------------------\n\n')
print(wb_h.head(), end='\n\n---------------------\n\n')
print(rsf_a.head(), end='\n\n---------------------\n\n')
print(fh_c.head(), end='\n\n---------------------\n\n')
print(fh_a.head(), end='\n\n---------------------\n\n')
print(fh_b.head(), end='\n\n---------------------\n\n')
print(un_c.head(), end='\n\n---------------------\n\n')
print(itu_n.head(), end='\n\n---------------------\n\n')
print(un_d.head(), end='\n\n---------------------\n\n')
print(raw.head(), end='\n\n---------------------\n\n')

  Secure Internet Servers per million population        2007        2008  \
0                                      Argentina   15.636379   18.348585
1                                      Australia  814.832242  999.049376
2                                        Austria  400.082498  480.992634
3                                        Bahrain   40.683758   53.761610
4                                     Bangladesh    0.040968    0.101372

          2009         2010         2011         2012         2013
0    19.838275    26.105765    33.637183    41.789448    42.874812
1  1222.449140  1784.556868  2027.797672  1721.403456  1252.264287
2   553.717600   856.042435   994.743515  1139.028500  1079.328650
3    62.943806    98.281041   120.671677   135.829665   141.873678
4     0.193976     0.311000     0.628016     0.730468     0.766308

---------------------

   IXPs (if have IXPs=1; if not=0)  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   1.0   1.0   1.0   1.0   1.0   1.0   1.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   1.0   1.0   1.0   1.0   1.0   1.0   1.0
4                       Bangladesh   1.0   1.0   1.0   1.0   1.0   1.0   1.0

---------------------

  Mobile broadband monthly subscription per GDPC        2007        2008  \
0                                      Argentina   0.0575246   0.0575246
1                                      Australia   0.0115663   0.0101911
2                                        Austria  0.00742588  0.00674503
3                                        Bahrain   0.0161784   0.0153241
4                                     Bangladesh    0.312941       0.285

         2009        2010        2011        2012        2013
0   0.0575246   0.0575246   0.0575246   0.0516306   0.0516306
1  0.00981372  0.00928833  0.00861759  0.00413447  0.00377289
2  0.00677689  0.00669069  0.00656406  0.00140117    0.001383
3   0.0170422   0.0169697   0.0176842  0.00404908  0.00404908
4    0.257419    0.231304    0.207273    0.156145       0.144

---------------------

  Literacy rates       2007       2008       2009       2010       2011  \
0      Argentina  97.916092  97.916092  97.916092  97.916092  97.916092
1      Australia        NaN        NaN        NaN        NaN        NaN
2        Austria        NaN        NaN        NaN        NaN        NaN
3        Bahrain  94.556793  94.556793  94.556793  94.556793  94.556793
4     Bangladesh  58.787720  58.787720  58.787720  58.787720  58.787720

        2012       2013
0  97.916092  97.916092
1        NaN        NaN
2        NaN        NaN
3  94.556793  94.556793
4  58.787720  58.787720

---------------------

  Secondary enrolment rates (gross)       2007       2008       2009  \
0                         Argentina   84.71264   85.88642   88.57930
1                         Australia  125.38581  126.74231  128.78038
2                           Austria   99.46533   99.07034   99.30265
3                           Bahrain        NaN   92.03623   96.43667
4                        Bangladesh   46.37140   44.46002   48.17374

        2010       2011       2012       2013
0   90.22608   91.93817   91.93817   91.93817
1  130.84425  133.04507  135.53543  135.53543
2   98.54810   97.96985   97.69036   97.69036
3   96.43667  103.65631   95.51475   95.51475
4   49.48382   50.79390   50.79390   50.79390

---------------------

  tertiary enrolment rates (gross) female/male     2007     2008     2009  \
0                                    Argentina  152.337  152.520  151.235
1                                    Australia  129.143  131.370  134.610
2                                      Austria  119.927  118.156  117.882
3                                      Bahrain  157.467  157.467  157.467
4                                   Bangladesh   55.138   55.391   59.717

       2010     2011     2012     2013
0  150.9420  156.225  156.225  156.225
1  136.5470  137.598  138.061  138.061
2  117.1620  118.648  119.556  119.556
3  157.4670  187.744  198.164  198.164
4   64.3755   69.034   69.034   69.034

---------------------

  WB H school life expectancy female/male     2007     2008     2009     2010  \
0                               Argentina  1.04453  1.04977  1.04318  1.03721
1                               Australia  0.98747  0.98565   0.9782  0.97436
2                                 Austria  0.97015  0.96758   0.9685  0.97277
3                                 Bahrain       ..       ..       ..       ..
4                              Bangladesh  1.06881  1.09024  1.06345  1.08986

      2011     2012     2013
0  1.03808  1.03808  1.03808
1   0.9732  0.97221  0.97221
2  0.97532  0.97694  0.97694
3       ..       ..       ..
4  1.09623  1.09623  1.09623

---------------------

  Press Freedom Index   2007   2008   2009   2010   2011   2012   2013
0           Argentina  14.08  11.33  16.35   14.0  25.67  25.67  25.27
1           Australia   6.25   3.13   5.38    4.0  15.24  15.24  16.91
2             Austria   3.50   3.00   0.50   -8.0   9.40   9.40  10.01
3             Bahrain  21.17  36.50  51.38  125.0  62.75  62.75  58.26
4          Bangladesh  42.70  37.33  42.50   57.0  42.01  42.01  42.58

---------------------

  Freedom House - Freedom of the press  2007  2008  2009  2010  2011  2012  \
0                            Argentina  47.0  49.0  49.0  51.0  50.0  52.0
1                            Australia  21.0  22.0  22.0  21.0  21.0  21.0
2                              Austria  21.0  21.0  21.0  21.0  21.0  21.0
3                              Bahrain  71.0  71.0  71.0  72.0  84.0  86.0
4                           Bangladesh  68.0  63.0  56.0  54.0  52.0  53.0

   2013
0  51.0
1  22.0
2  21.0
3  87.0
4  54.0

---------------------

  Freedom House - Political Rights  2007  2008  2009  2010  2011  2012  2013
0                        Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                        Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                          Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                          Bahrain   5.0   5.0   6.0   6.0   6.0   6.0   6.0
4                       Bangladesh   5.0   4.0   3.0   3.0   3.0   3.0   3.0

---------------------

  Freedom House - Civil Rights  2007  2008  2009  2010  2011  2012  2013
0                    Argentina   2.0   2.0   2.0   2.0   2.0   2.0   2.0
1                    Australia   1.0   1.0   1.0   1.0   1.0   1.0   1.0
2                      Austria   1.0   1.0   1.0   1.0   1.0   1.0   1.0
3                      Bahrain   5.0   5.0   5.0   5.0   6.0   6.0   6.0
4                   Bangladesh   4.0   4.0   4.0   4.0   4.0   4.0   4.0

---------------------

  Government online services index     2007      2008     2009      2010  \
0                        Argentina  0.55852  0.485605  0.41269  0.471050
1                        Australia  0.75250  0.758785  0.76507  0.813905
2                          Austria  0.66555  0.570870  0.47619  0.610640
3                          Bahrain  0.52006  0.625105  0.73015  0.796445
4                       Bangladesh  0.35117  0.353360  0.35555  0.399995

      2011      2012     2013
0  0.52941  0.540295  0.55118
1  0.86274  0.895935  0.92913
2  0.74509  0.746560  0.74803
3  0.86274  0.899870  0.93700
4  0.44444  0.395445  0.34645

---------------------

  Internet users per 100       2007       2008   2009   2010       2011  \
0              Argentina  25.946633  28.112623  34.00  45.00  51.000000
1              Australia  69.450000  71.670000  74.25  76.00  79.487698
2                Austria  69.370000  72.870000  73.45  75.17  78.739993
3                Bahrain  32.910000  51.950000  53.00  55.00  76.999967
4             Bangladesh   1.800000   2.500000   3.10   3.70   5.000000

        2012     2013
0  55.800000  59.9000
1  79.000000  83.0000
2  80.029994  80.6188
3  88.000000  90.0000
4   5.750000   6.5000

---------------------

  E-participation index     2007      2008     2009     2010    2011  \
0             Argentina  0.45454  0.327270  0.20000  0.24475  0.2895
1             Australia  0.88636  0.900320  0.91428  0.83874  0.7632
2               Austria  0.47727  0.488635  0.50000  0.43420  0.3684
3               Bahrain  0.34090  0.506160  0.67142  0.66466  0.6579
4            Bangladesh  0.13636  0.118180  0.10000  0.08945  0.0789

       2012     2013
0  0.419255  0.54901
1  0.852185  0.94117
2  0.497925  0.62745
3  0.740710  0.82352
4  0.235525  0.39215

---------------------

     Country                                         WI.2014.S1  \
0        NaN  To what extent are ICTs being used to improve ...
1  Argentina                                                  4
2  Australia                                                  6
3    Austria                                                  5
4    Bahrain                                                  5

                                          WI.2014.S2  \
0  To what extent are health workers in the publi...
1                                                  4
2                                                  8
3                                                  4
4                                                  0

                                          WI.2014.S3  \
0  To what extent are ICTs being used to improve ...
1                                                  5
2                                                  8
3                                                  6
4                                                  5

                                          WI.2014.S4  \
0  To what extent are teachers and administrators...
1                                                  7
2                                                  8
3                                                  7
4                                                  1

                                          WI.2014.S5  \
0  To what extent are web-powered ICTs contributi...
1                                                  6
2                                                  7
3                                                  8
4                                                  4

                                          WI.2014.S6  \
0  To what extent can smallholder farmers discove...
1                                                  6
2                                                 10
3                                                 10
4                                                  3

                                          WI.2014.S7  \
0  To what extent are Web-powered ICTs used by go...
1                                                  7
2                                                  7
3                                                  8
4                                                  1

                                          WI.2014.S8  \
0  To what extent has campaigning through web-pow...
1                                                  7
2                                                  7
3                                                  8
4                                                  0

                                          WI.2014.S9  ...  \
0  To what extent have web-powered ICTs made a no...  ...
1                                                  6  ...
2                                                  6  ...
3                                                  8  ...
4                                                  0  ...

                                          WI.2014.P9  \
0  To what extent are there laws and regulations ...
1                                                  6
2                                                  0
3                                                  9
4                                                  0

                                         WI.2014.P10  \
0  To what extent does the law protect people fro...
1                                                  7
2                                                  8
3                                                  8
4                                                  2

                                         ODB.2013.C1  \
0  To what extent is there a well-resourced open ...
1                                                  5
2                                                  8
3                                                  6
4                                                  4

                                         ODB.2013.I1  \
0  To what extent has open data had a noticeable ...
1                                                  0
2                                                  1
3                                                  3
4                                                  0

                                         ODB.2013.I2  \
0  To what extent has open data had a noticeable ...
1                                                  3
2                                                  2
3                                                  4
4                                                  0

                                         ODB.2013.I3  \
0  To what extent has open data had a noticeable ...
1                                                  2
2                                                  2
3                                                  5
4                                                  0

                                         ODB.2013.I4  \
0  To what extent has open data had a noticeable ...
1                                                  0
2                                                  2
3                                                  4
4                                                  0

                                         ODB.2013.I5  \
0  To what extent has open data had a noticeable ...
1                                                  1
2                                                  3
3                                                  3
4                                                  0

                                         ODB.2013.I6  \
0  To what extent are entrepreneurs sucesfully us...
1                                                  2
2                                                  3
3                                                  6
4                                                  0

                                         AI.2014.A13
0  Are there specific policies to promote free or...
1                                                  5
2                                                  8
3                                                  6
4                                                  0

[5 rows x 31 columns]

---------------------

In [7]:
idx_wb_a = wb_a.set_index('Secure Internet Servers per million population')
idx_wb_a

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Argentina,15.636379,18.348585,19.838275,26.105765,33.637183,41.789448,42.874812
Australia,814.832242,999.049376,1222.449140,1784.556868,2027.797672,1721.403456,1252.264287
Austria,400.082498,480.992634,553.717600,856.042435,994.743515,1139.028500,1079.328650
Bahrain,40.683758,53.761610,62.943806,98.281041,120.671677,135.829665,141.873678
Bangladesh,0.040968,0.101372,0.193976,0.311000,0.628016,0.730468,0.766308
...,...,...,...,...,...,...,...
MEAN,168.296107,205.475487,237.342356,339.879215,408.833524,418.163256,374.921889
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SD,300.598262,359.792319,414.008742,603.323433,725.971047,737.578496,649.108086
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000

In [8]:
idx_wb_a.tail(20)

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Tunisia,8.899668,10.649730,12.452584,14.124428,19.299593,13.082811,16.993524
Turkey,40.548797,60.116386,69.440272,99.837053,143.638046,116.761288,50.431961
Uganda,0.065086,0.220273,0.304281,0.853262,1.479456,1.458213,1.170871
Ukraine,2.838139,4.280322,5.993056,13.232848,17.721923,23.490294,26.489571
United Arab Emirates,71.929453,82.957829,98.207913,135.638806,159.438061,183.691517,194.198047
United Kingdom Of Great Britain And Northern Ireland,750.312328,898.992096,1141.570537,1384.148979,1576.979233,1467.414897,1193.455209
United Republic Of Tanzania,0.072958,0.188885,0.229149,0.400237,0.496175,0.753404,1.076074
United States Of America,1061.762502,1174.788190,1235.078761,1445.050121,1563.210065,1474.265038,1305.970696
Uruguay,37.443266,42.402008,35.412124,44.780785,70.046100,80.406379,75.138051
Venezuela (Bolivarian Republic Of),6.183121,6.721120,7.382000,7.368313,7.999831,10.682768,11.083628
Viet Nam,0.605549,1.127789,1.883173,3.128864,4.678962,6.702496,8.159726
Yemen,0.094419,0.184301,0.224925,0.307516,0.429107,0.461169,0.655539
Zambia,0.082579,0.321117,0.701753,1.210564,1.540290,2.344566,2.751289
Zimbabwe,0.313968,0.547558,0.620688,0.994113,1.272575,2.987398,3.180291
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MEAN,168.296107,205.475487,237.342356,339.879215,408.833524,418.163256,374.921889
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SD,300.598262,359.792319,414.008742,603.323433,725.971047,737.578496,649.108086
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000

In [9]:
clean_wb_a = idx_wb_a.drop(idx_wb_a.tail(6).index)
clean_wb_a

,2007,2008,2009,2010,2011,2012,2013
Secure Internet Servers per million population,,,,,,,
Argentina,15.636379,18.348585,19.838275,26.105765,33.637183,41.789448,42.874812
Australia,814.832242,999.049376,1222.449140,1784.556868,2027.797672,1721.403456,1252.264287
Austria,400.082498,480.992634,553.717600,856.042435,994.743515,1139.028500,1079.328650
Bahrain,40.683758,53.761610,62.943806,98.281041,120.671677,135.829665,141.873678
Bangladesh,0.040968,0.101372,0.193976,0.311000,0.628016,0.730468,0.766308
...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic Of),6.183121,6.721120,7.382000,7.368313,7.999831,10.682768,11.083628
Viet Nam,0.605549,1.127789,1.883173,3.128864,4.678962,6.702496,8.159726
Yemen,0.094419,0.184301,0.224925,0.307516,0.429107,0.461169,0.655539
Zambia,0.082579,0.321117,0.701753,1.210564,1.540290,2.344566,2.751289
Zimbabwe,0.313968,0.547558,0.620688,0.994113,1.272575,2.987398,3.180291

In [10]:
clean_wb_a.index.name.lower().replace(' ','_')

'secure_internet_servers_per_million_population'

In [11]:
for row in clean_wb_a.iterrows():
    print(row[0])

Argentina
Australia
Austria
Bahrain
Bangladesh
Belgium
Benin
Botswana
Brazil
Burkina Faso
Cameroon
Canada
Chile
China
Colombia
Costa Rica
Czech Republic
Denmark
Ecuador
Egypt
Estonia
Ethiopia
Finland
France
Germany
Ghana
Greece
Haiti
Hungary
Iceland
India
Indonesia
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Malawi
Malaysia
Mali
Mauritius
Mexico
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
New Zealand
Nigeria
Norway
Pakistan
Peru
Philippines
Poland
Portugal
Qatar
Republic Of Korea
Russian Federation
Rwanda
Saudi Arabia
Senegal
Sierra Leone
Singapore
South Africa
Spain
Sweden
Switzerland
Thailand
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
United Kingdom Of Great Britain And Northern Ireland
United Republic Of Tanzania
United States Of America
Uruguay
Venezuela (Bolivarian Republic Of)
Viet Nam
Yemen
Zambia
Zimbabwe

In [14]:
un = getpass.getpass(prompt='PostGre Username: ', stream=None)
pw = getpass.getpass(prompt='PostGre Password: ', stream=None)

PostGre Username: ········
PostGre Password: ········

In [17]:

engine = create_engine(f'postgresql://{un}:{pw}@localhost:5432/etl_project')
conn = engine.connect()
session = Session(bind=engine)

In [18]:
Base = declarative_base()

Base.metadata.drop_all(engine)

tbl_list = [clean_wb_a]

for table in tbl_list:
    table_name = table.index.name.lower().replace(' ','_')

    class Year(Base):
        __tablename__ = table_name
        country = Column(String, primary_key=True)
        year_2007 = Column(Float)
        year_2008 = Column(Float)
        year_2009 = Column(Float)
        year_2010 = Column(Float)
        year_2011 = Column(Float)
        year_2012 = Column(Float)
        year_2013 = Column(Float)

    Base.metadata.create_all(engine)
    
    for row in table.iterrow():
        table_row = Year(country=row[0],
                         year_2007=row[1],
                         year_2008=row[2],
                         year_2009=row[3],
                         year_20010=row[4],
                         year_20011=row[5],
                         year_20012=row[6],
                         year_20013=row[7]
                        )
        session.add(table_row)
        session.commit()

AttributeError: 'DataFrame' object has no attribute 'iterrow'

In [39]:
for table in tbl_list:
    print(table[2008])

Secure Internet Servers per million population
Argentina                              18.348585
Australia                             999.049376
Austria                               480.992634
Bahrain                                53.761610
Bangladesh                              0.101372
                                         ...
Venezuela (Bolivarian Republic Of)      6.721120
Viet Nam                                1.127789
Yemen                                   0.184301
Zambia                                  0.321117
Zimbabwe                                0.547558
Name: 2008, Length: 86, dtype: float64

In [43]:
for row in clean_wb_a.iterrows():
    print(row)

('Argentina', 2007    15.636379
2008    18.348585
2009    19.838275
2010    26.105765
2011    33.637183
2012    41.789448
2013    42.874812
Name: Argentina, dtype: float64)
('Australia', 2007     814.832242
2008     999.049376
2009    1222.449140
2010    1784.556868
2011    2027.797672
2012    1721.403456
2013    1252.264287
Name: Australia, dtype: float64)
('Austria', 2007     400.082498
2008     480.992634
2009     553.717600
2010     856.042435
2011     994.743515
2012    1139.028500
2013    1079.328650
Name: Austria, dtype: float64)
('Bahrain', 2007     40.683758
2008     53.761610
2009     62.943806
2010     98.281041
2011    120.671677
2012    135.829665
2013    141.873678
Name: Bahrain, dtype: float64)
('Bangladesh', 2007    0.040968
2008    0.101372
2009    0.193976
2010    0.311000
2011    0.628016
2012    0.730468
2013    0.766308
Name: Bangladesh, dtype: float64)
('Belgium', 2007    192.081463
2008    250.047316
2009    310.100697
2010    487.991508
2011    597.407036
2012    674.409965
2013    737.462995
Name: Belgium, dtype: float64)
('Benin', 2007    0.114844
2008    0.222884
2009    0.108216
2010    0.105155
2011    0.715761
2012    0.696469
2013    1.065533
Name: Benin, dtype: float64)
('Botswana', 2007     1.566427
2008     1.551415
2009     3.586589
2010     8.632329
2011     9.060246
2012    11.477561
2013    10.390155
Name: Botswana, dtype: float64)
('Brazil', 2007    20.300323
2008    23.935475
2009    25.975379
2010    40.679236
2011    54.119343
2012    54.284789
2013    57.446044
Name: Brazil, dtype: float64)
('Burkina Faso', 2007    0.140498
2008    0.136429
2009    0.198742
2010    0.257396
2011    0.625183
2012    0.607528
2013    0.826698
Name: Burkina Faso, dtype: float64)
('Cameroon', 2007    0.366537
2008    0.357234
2009    0.497415
2010    0.533350
2011    0.992613
2012    1.198177
2013    1.482882
Name: Cameroon, dtype: float64)
('Canada', 2007     814.554204
2008     908.386158
2009     987.166538
2010    1242.689590
2011    1374.204418
2012    1237.918334
2013    1035.260404
Name: Canada, dtype: float64)
('Chile', 2007    28.916139
2008    34.994567
2009    39.077836
2010    52.709034
2011    67.308168
2012    82.165204
2013    93.588384
Name: Chile, dtype: float64)
('China', 2007    0.682912
2008    0.934583
2009    1.186094
2010    1.920453
2011    2.425361
2012    3.137644
2013    3.873639
Name: China, dtype: float64)
('Colombia', 2007     7.955344
2008    10.453339
2009    12.051728
2010    14.275011
2011    21.156023
2012    28.445997
2013    33.484126
Name: Colombia, dtype: float64)
('Costa Rica', 2007     90.517487
2008     98.616479
2009     97.795813
2010    107.501898
2011    111.024805
2012     94.895319
2013     79.020296
Name: Costa Rica, dtype: float64)
('Czech Republic', 2007    104.963400
2008    151.089069
2009    186.328220
2010    319.731613
2011    389.002074
2012    518.800451
2013    563.514521
Name: Czech Republic, dtype: float64)
('Denmark', 2007     805.099316
2008    1037.202967
2009    1167.461360
2010    1872.132925
2011    2182.002136
2012    2213.867585
2013    2103.067029
Name: Denmark, dtype: float64)
('Ecuador', 2007     6.798241
2008     9.371295
2009    11.046037
2010    14.065661
2011    18.955194
2012    22.140082
2013    24.463273
Name: Ecuador, dtype: float64)
('Egypt', 2007    0.862190
2008    1.072962
2009    1.549983
2010    2.382303
2011    3.123722
2012    3.704077
2013    3.473222
Name: Egypt, dtype: float64)
('Estonia', 2007    214.816362
2008    280.459805
2009    316.219750
2010    437.109221
2011    537.877823
2012    667.161755
2013    748.898545
Name: Estonia, dtype: float64)
('Ethiopia', 2007    0.012432
2008    0.036310
2009    0.058936
2010    0.126298
2011    0.167798
2012    0.196231
2013    0.170031
Name: Ethiopia, dtype: float64)
('Finland', 2007     542.853469
2008     684.119525
2009     802.229535
2010    1245.489761
2011    1486.376337
2012    1612.679492
2013    1546.859796
Name: Finland, dtype: float64)
('France', 2007    135.535876
2008    165.493524
2009    203.051111
2010    296.432922
2011    354.602505
2012    409.079267
2013    486.123659
Name: France, dtype: float64)
('Germany', 2007     459.519474
2008     549.786222
2009     640.934327
2010     872.030779
2011    1022.510750
2012    1110.775080
2013    1070.926385
Name: Germany, dtype: float64)
('Ghana', 2007    0.443938
2008    0.692337
2009    0.717556
2010    1.731038
2011    2.215892
2012    2.956660
2013    2.625017
Name: Ghana, dtype: float64)
('Greece', 2007     52.763585
2008     61.503040
2009     79.913579
2010    126.059604
2011    156.879132
2012    171.192572
2013    136.235978
Name: Greece, dtype: float64)
('Haiti', 2007    0.525557
2008    0.830026
2009    0.819240
2010    1.010468
2011    1.196069
2012    1.670963
2013    1.066154
Name: Haiti, dtype: float64)
('Hungary', 2007     58.971059
2008     83.481202
2009    113.443051
2010    166.199618
2011    219.921785
2012    247.773216
2013    249.463310
Name: Hungary, dtype: float64)
('Iceland', 2007    1418.640031
2008    1559.477528
2009    1714.291097
2010    2524.831704
2011    3024.945614
2012    3133.613540
2013    2922.582523
Name: Iceland, dtype: float64)
('India', 2007    0.967134
2008    1.244613
2009    1.509069
2010    2.157388
2011    2.902986
2012    3.567597
2013    3.904517
Name: India, dtype: float64)
('Indonesia', 2007    0.731688
2008    0.998961
2009    1.347443
2010    1.994378
2011    3.363390
2012    3.949540
2013    4.118213
Name: Indonesia, dtype: float64)
('Ireland', 2007     547.404353
2008     668.442051
2009     730.259350
2010     980.668420
2011    1131.796624
2012    1003.510652
2013     718.563239
Name: Ireland, dtype: float64)
('Israel', 2007    227.991254
2008    272.684982
2009    289.221973
2010    396.662994
2011    470.138299
2012    396.308704
2013    270.367521
Name: Israel, dtype: float64)
('Italy', 2007     74.095230
2008     94.378863
2009    111.362372
2010    157.564220
2011    195.336942
2012    212.883108
2013    203.222094
Name: Italy, dtype: float64)
('Jamaica', 2007    28.544805
2008    31.812163
2009    35.802380
2010    39.393138
2011    48.521430
2012    51.333091
2013    44.567219
Name: Jamaica, dtype: float64)
('Japan', 2007    399.254133
2008    471.676542
2009    519.599099
2010    649.844658
2011    743.929164
2012    750.046121
2013    736.665744
Name: Japan, dtype: float64)
('Jordan', 2007     6.006006
2008     8.987211
2009    12.172443
2010    19.847833
2011    25.238635
2012    29.281418
2013    26.939155
Name: Jordan, dtype: float64)
('Kazakhstan', 2007    1.033312
2008    1.977798
2009    3.231279
2010    5.207829
2011    6.341882
2012    7.384722
2013    9.391045
Name: Kazakhstan, dtype: float64)
('Kenya', 2007    0.821142
2008    1.057429
2009    1.305721
2010    2.566660
2011    3.140771
2012    4.168776
2013    4.779760
Name: Kenya, dtype: float64)
('Malawi', 2007    0.145839
2008    0.141461
2009    0.274474
2010    0.266423
2011    0.388160
2012    0.880144
2013    0.916727
Name: Malawi, dtype: float64)
('Malaysia', 2007    21.854403
2008    27.030642
2009    33.212999
2010    41.661015
2011    54.626439
2012    65.663639
2013    66.830512
Name: Malaysia, dtype: float64)
('Mali', 2007    0.314326
2008    0.532793
2009    0.516251
2010    0.786503
2011    1.040457
2012    1.009858
2013    1.045639
Name: Mali, dtype: float64)
('Mauritius', 2007     42.050043
2008     59.910214
2009     61.959229
2010     86.656195
2011    116.636121
2012    134.761809
2013    127.285056
Name: Mauritius, dtype: float64)
('Mexico', 2007    12.366795
2008    14.499682
2009    15.916133
2010    19.824169
2011    25.795645
2012    28.068439
2013    26.452518
Name: Mexico, dtype: float64)
('Morocco', 2007    1.076072
2008    1.421411
2009    1.982315
2010    3.002305
2011    4.335699
2012    3.566910
2013    3.635466
Name: Morocco, dtype: float64)
('Mozambique', 2007    0.225516
2008    0.219659
2009    0.342451
2010    0.834472
2011    1.098393
2012    1.507733
2013    1.587071
Name: Mozambique, dtype: float64)
('Myanmar', 2007    0.019674
2008    0.019538
2009    0.019402
2010    0.057769
2011    0.076408
2012    0.094702
2013    0.131433
Name: Myanmar, dtype: float64)
('Namibia', 2007     9.612150
2008     8.527609
2009     8.864016
2010    14.685858
2011    20.742977
2012    19.916854
2013    18.234588
Name: Namibia, dtype: float64)
('Nepal', 2007    1.001926
2008    0.990498
2009    1.167831
2010    1.676226
2011    2.172603
2012    2.475033
2013    2.374318
Name: Nepal, dtype: float64)
('Netherlands', 2007     780.505266
2008    1105.037684
2009    1414.122887
2010    2276.683899
2011    2750.302311
2012    2805.855364
2013    2382.139157
Name: Netherlands, dtype: float64)
('New Zealand', 2007     828.465341
2008     980.111973
2009    1059.131563
2010    1489.537067
2011    1597.430310
2012    1466.050079
2013    1100.921535
Name: New Zealand, dtype: float64)
('Nigeria', 2007    0.489172
2008    0.793608
2009    0.804474
2010    1.195934
2011    1.674859
2012    1.741358
2013    1.676119
Name: Nigeria, dtype: float64)
('Norway', 2007     621.980216
2008     845.180541
2009    1010.825630
2010    1651.172817
2011    1810.183869
2012    1879.020192
2013    1725.741957
Name: Norway, dtype: float64)
('Pakistan', 2007    0.408715
2008    0.532908
2009    0.617306
2010    0.976036
2011    1.118261
2012    1.272605
2013    1.279218
Name: Pakistan, dtype: float64)
('Peru', 2007     8.577961
2008    10.095848
2009    10.575682
2010    14.147641
2011    18.504207
2012    21.675481
2013    21.365831
Name: Peru, dtype: float64)
('Philippines', 2007    3.938091
2008    4.570036
2009    5.267374
2010    6.656370
2011    7.532605
2012    8.624009
2013    8.059469
Name: Philippines, dtype: float64)
('Poland', 2007     55.193313
2008     84.693396
2009    123.009248
2010    210.796847
2011    267.451031
2012    299.668831
2013    309.000155
Name: Poland, dtype: float64)
('Portugal', 2007     87.072288
2008    115.929104
2009    137.108832
2010    174.688597
2011    225.430876
2012    241.182846
2013    218.359690
Name: Portugal, dtype: float64)
('Qatar', 2007     35.576103
2008     47.825274
2009     57.541740
2010     85.728345
2011    123.501885
2012    140.940272
2013    161.850127
Name: Qatar, dtype: float64)
('Republic Of Korea', 2007     497.493171
2008     690.845750
2009     918.465396
2010    1128.083123
2011    2496.110844
2012    2751.535609
2013    1994.895665
Name: Republic Of Korea, dtype: float64)
('Russian Federation', 2007     4.461179
2008     7.326193
2009    10.534902
2010    20.254868
2011    26.931277
2012    39.042311
2013    51.135938
Name: Russian Federation, dtype: float64)
('Rwanda', 2007    0.293457
2008    0.293457
2009    0.569819
2010    0.645951
2011    0.897318
2012    2.007366
2013    2.547441
Name: Rwanda, dtype: float64)
('Saudi Arabia', 2007     6.173882
2008     7.737132
2009    10.411856
2010    17.609259
2011    21.792592
2012    30.543143
2013    34.236514
Name: Saudi Arabia, dtype: float64)
('Senegal', 2007    3.191943
2008    1.062196
2009    0.873930
2010    1.081034
2011    1.350263
2012    2.112775
2013    2.193405
Name: Senegal, dtype: float64)
('Sierra Leone', 2007    0.738550
2008    0.723048
2009    0.354536
2010    0.173853
2011    0.681955
2012    0.669039
2013    0.820738
Name: Sierra Leone, dtype: float64)
('Singapore', 2007    359.586802
2008    390.337645
2009    420.843692
2010    529.674789
2011    607.288230
2012    635.306076
2013    609.349533
Name: Singapore, dtype: float64)
('South Africa', 2007    30.198170
2008    36.157276
2009    39.702928
2010    61.478674
2011    72.451125
2012    82.008695
2013    86.350096
Name: South Africa, dtype: float64)
('Spain', 2007    141.619561
2008    168.711801
2009    191.316574
2010    230.929939
2011    281.626882
2012    290.988712
2013    269.039525
Name: Spain, dtype: float64)
('Sweden', 2007     600.671703
2008     772.156214
2009     857.018567
2010    1268.377072
2011    1451.972773
2012    1511.443925
2013    1439.137364
Name: Sweden, dtype: float64)
('Switzerland', 2007     812.727442
2008     974.936827
2009    1117.792989
2010    1867.625553
2011    2136.014897
2012    2282.270506
2013    2212.836705
Name: Switzerland, dtype: float64)
('Thailand', 2007     7.158323
2008     9.276979
2009    10.033596
2010    13.734461
2011    17.288426
2012    19.570262
2013    18.101640
Name: Thailand, dtype: float64)
('Tunisia', 2007     8.899668
2008    10.649730
2009    12.452584
2010    14.124428
2011    19.299593
2012    13.082811
2013    16.993524
Name: Tunisia, dtype: float64)
('Turkey', 2007     40.548797
2008     60.116386
2009     69.440272
2010     99.837053
2011    143.638046
2012    116.761288
2013     50.431961
Name: Turkey, dtype: float64)
('Uganda', 2007    0.065086
2008    0.220273
2009    0.304281
2010    0.853262
2011    1.479456
2012    1.458213
2013    1.170871
Name: Uganda, dtype: float64)
('Ukraine', 2007     2.838139
2008     4.280322
2009     5.993056
2010    13.232848
2011    17.721923
2012    23.490294
2013    26.489571
Name: Ukraine, dtype: float64)
('United Arab Emirates', 2007     71.929453
2008     82.957829
2009     98.207913
2010    135.638806
2011    159.438061
2012    183.691517
2013    194.198047
Name: United Arab Emirates, dtype: float64)
('United Kingdom Of Great Britain And Northern Ireland', 2007     750.312328
2008     898.992096
2009    1141.570537
2010    1384.148979
2011    1576.979233
2012    1467.414897
2013    1193.455209
Name: United Kingdom Of Great Britain And Northern Ireland, dtype: float64)
('United Republic Of Tanzania', 2007    0.072958
2008    0.188885
2009    0.229149
2010    0.400237
2011    0.496175
2012    0.753404
2013    1.076074
Name: United Republic Of Tanzania, dtype: float64)
('United States Of America', 2007    1061.762502
2008    1174.788190
2009    1235.078761
2010    1445.050121
2011    1563.210065
2012    1474.265038
2013    1305.970696
Name: United States Of America, dtype: float64)
('Uruguay', 2007    37.443266
2008    42.402008
2009    35.412124
2010    44.780785
2011    70.046100
2012    80.406379
2013    75.138051
Name: Uruguay, dtype: float64)
('Venezuela (Bolivarian Republic Of)', 2007     6.183121
2008     6.721120
2009     7.382000
2010     7.368313
2011     7.999831
2012    10.682768
2013    11.083628
Name: Venezuela (Bolivarian Republic Of), dtype: float64)
('Viet Nam', 2007    0.605549
2008    1.127789
2009    1.883173
2010    3.128864
2011    4.678962
2012    6.702496
2013    8.159726
Name: Viet Nam, dtype: float64)
('Yemen', 2007    0.094419
2008    0.184301
2009    0.224925
2010    0.307516
2011    0.429107
2012    0.461169
2013    0.655539
Name: Yemen, dtype: float64)
('Zambia', 2007    0.082579
2008    0.321117
2009    0.701753
2010    1.210564
2011    1.540290
2012    2.344566
2013    2.751289
Name: Zambia, dtype: float64)
('Zimbabwe', 2007    0.313968
2008    0.547558
2009    0.620688
2010    0.994113
2011    1.272575
2012    2.987398
2013    3.180291
Name: Zimbabwe, dtype: float64)